body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title {
    font-size: 30px;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 50px auto;
}

.main-text {
    color: #d6d6d6;
}

.first-item-container {
    padding-bottom: 55px;
    padding-top: 0;
    border-bottom: 1px solid #e5e5e5;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 850px;
    height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    color: #333;
    background-color: #fff;
}

/* Slider */
.Slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider__item {
    padding: 20px 0;
    position: relative;
    width: 23%;
    border-top: 3px solid #fff;
    font-size: 18px;
    color: #fff;
    opacity: .7;
}

.slider__item.active::before {
    content: "";
    position: absolute;
    background-color: #f38181;
    width: 70px;
    height: 3px;
    top: -3px;
    left: 0;
}

.slider__item.active {
    opacity: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700; 
}


/* Story */
.story {
    min-height: 750px;
}

.story__suptitle {
    margin-top: 100px;
}

.suptitle {
    font-size: 24px;
    font-family: "Kaushan Script";
    margin-bottom: 10px;
    text-align: center;
}

.story__title {

}

.story__paragraph-container {
    max-width: 945px;
    margin: 0 auto 100px auto;
}

.story__paragraph {
    text-align: center;
}

.story__img-wrapper {
    display: flex;
    gap: 30px;
}

.story__img-item {
    position: relative;
    max-height: 250px;
} 

.story__img-item:hover .story__img {
    top: -10px;
    left: -10px;
    transition: all .3s linear;
}

.story__img-item:hover .story__img-foreground {
    background-image: linear-gradient(#e4837e, #ecd384);
    top: -10px;
    left: -10px;
    z-index: 3;
}

.story__img-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #95e1d3;
}

.story__img {
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    transition: all .3s linear;
}

.story__img-foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: .8;
    z-index: 2;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.story__img-foreground-text {
    opacity: 1;
}

.story__img-foreground-icon {
    max-width: 50px;
    max-height: 50px;
    filter: invert();
}


/* Information */
.information {
    min-height: 270px;
    background-color: #95e1d3;
}

.height-fix-container {
    height: 270px;
}

.information__items-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.information__item {
    flex: 1 1 240px;
    padding: 90px 35px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information__item:first-of-type {
    border-left: 1px solid rgba(255,255,255, .5);
}

.information__item-title {
    text-align: center;
    color: #fff;
    font-size: 54px;
}

.information__item-subtitle {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .information__item-subtitle {
        white-space: normal;
    }
}



/* Services */
.services {
    padding-top: 110px;
    min-height: 800px;
}

.services__title {
    margin-bottom: 60px;
}

.services__items-container {
    display: flex;
    gap: 40px;
    padding-top: 50px;
}

.services__item {
    display: flex;
    align-items: start;
    gap: 30px;
}

.services__item-img {
    padding-top: 8px;
    max-width: 40px;
    max-height: 40px;
}

.services__item-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
}

.services__item-text {
    color: #d6d6d6;
    font-size: 14px;
}



/* Design */
.design {
    min-height: 850px;
    background-image: url(../images/devices-bg.jpg);
    background-size: 100% 100%;
    padding-top: 90px;
    position: relative;
}

.design__img-large {
    position: absolute;
    bottom: 0;
    left: 32%;
    max-width: 100%;
}

.design__img-small {
    position: absolute;
    left: 56%;
    bottom: -90px;
}


/* WeDo */
.WeDo {
    min-height: 900px;
    padding-top: 110px;
}

.WeDo__text {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.WeDo__image {
    width: 100%;
}

.WeDo__content-container {
    display: flex;
    gap: 25px;
    margin-top: 70px;
    padding: 10px;
    max-height: 380px;
}

.WeDo__spoilers-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.WeDo__spoiler-item {
    /* flex: 1 1 20%; */
}

.WeDo__spoiler-header {
    display: flex;
    border: 1px solid #d6d6d6;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.WeDo__spoiler-header::after {
    transition: all 0.3s ease;
}

.WeDo__spoiler-header.active {
    margin-bottom: 0;
}

.WeDo__spoiler-header.active::after {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.WeDo__spoiler-header::after {
    content: "";
    background: url(../images/spoiler_arrow.svg) no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
}

.WeDo__spoiler-header.active > .WeDo__spoiler-text{
    display: block;
}

.WeDo__spoiler-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.WeDo__spoiler-text {
    max-height: 204px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px 60px 20px 15px;
    border: 1px solid #d6d6d6;
    border-top: none;
    display: none;
    overflow-y: auto;
}

.WeDo__spoiler-text::-webkit-scrollbar {
    min-width: 40px;
}

.WeDo__spoiler-text::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 100px;
    border: 17px solid transparent;
    background-clip: content-box;
}

.WeDo__spoiler-text::-webkit-scrollbar-thumb {
    border: 17px solid transparent;
    border-radius: 100px;
    background-color: #95e1d3;
    background-clip: content-box;
}

/* .active {
    display: flex;
} */


/* Slider Slick*/
.slickSlider {
    min-height: 300px;
    background-color: #f8f8f8;
    padding: 100px;
}

.slickSlider__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slickSlider__item-img {
    margin-right: 60px;
}

.slickSlider__item-qoute {
   font-weight: 400; 
   font-size: 18px;
}

.slickSlider__item-autor {
    display: inline-block;
    padding-left: 84px;
    margin-top: 15px;
    font-family: "Kaushan Script";
    font-size: 18px;
    position: relative;
}

.slickSlider__item-autor::before {
    content: "";
    background-color: #f38181;
    width: 70px;
    height: 3px;
    position: absolute;
    top: 14px;
    left: 0;
}

.slickSlider__wrapper {
    padding: 0 50px;
}

.slick-prev.slick-arrow {
    background: url(../images/slick_l.svg) 0 0 / 100% no-repeat;
    width: 30px;
    height: 30px;
}

.slick-prev.slick-arrow::before {
    content: "";
}

.slick-next.slick-arrow {
    background: url(../images/slider_r.svg) 0 0 / 100% no-repeat;
    width: 30px;
    height: 30px;
}

.slick-next.slick-arrow::before {
    content: "";
}



/* Team */
.team {
    min-height: 1100px;
    padding-top: 80px;
}

.team__paragraph {
    text-align: center;
}

.team__items-container {
    margin-top: 90px;
    display: flex;
    gap: 30px;
}

.team__item {
   max-height: 470px; 
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: #95e1d3;
}

.team__item-img {
   display: block;
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 2;
   transition: all 0.3s ease;
}

.team__item:hover .team__img-container {
  transform: translate(-10px, -10px);
  transition: all 0.3s ease;
}

.team__item:hover .team__item-img {
    opacity: 0.1;
}

.team__img-container{
    background-image: linear-gradient(#e4837e, #ecd384);
}

.team__socialNetworks-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    opacity: 0;
}

.team__item:hover .team__socialNetworks-container{
    opacity: 1;
}

.team__socialNetwork-item {
    background: #fce38a;
    max-width: 48px;
    max-height: 48px;
}

.team__socialNetwork-img {
    max-width: 48px;
    max-height: 48px;
}

.team__socialNetwork-item:not(:last-of-type){
    border-right: 1px solid #f38181;
    transition: all 0.3s linear;
}

.team__socialNetwork-item:hover {
    background: #f38181;
}

.team__signatures-container {
    display: flex;
    justify-content: space-around;
}

.team__signatures-title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
}

.team__signatures-subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-top: 8px;
}